* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: bisque;
}

.header h1 {
  display: flex;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 8rem;
}

.header img {
  height: 6rem;
  display: block;
  margin: auto;
}

.input {
  height: 2rem;
  width: 10rem;
  border-radius: 5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: medium;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1rem;
  background-color: #fff;
}

.btn {
  height: 2rem;
  width: 5rem;
  border-radius: 5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: medium;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1rem;
  background-color: #fff;
}

.checkbox {
  width: 10rem;
  border: solid 2px red;
}
